---
layout: default
---

<main>
  <article>
    <div class="container-article">
      <h1 class="text-center small-8 small-centered columns">{{ page.title }}</h1>
        <div class="text-center">
          <iframe class="video-individual" width="640" height="360" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="show-for-small-only text-center flex-video">
          <iframe class="video-individual" width="640" height="360" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="small-8 small-centered columns">
          <p>{{ page.video-description }}</p>
          <p>fuente:{{ page.source }}</p>
        </div>
    </div>
  </article>
</main>
