---
layout: default
---

<main>
<article>
  <div class="container-article">
      <h2 class="text-center small-8 small-centered columns">{{ page.title }}</h1>
        <div class="text-center small-8 small-centered columns">
        <img src="{{site.url}}/assets/img/articulos/{{ page.image }}" width="400" height="auto" alt="{{ page.title }}">
        </div>
          {% if page.date %}
            <p class="small-8 small-centered columns">{{ page.date | date_to_string }}</p>
          {% endif %}
        <div class="small-8 small-centered columns">
          {{ content }}
        </div>
      </div>
</article>
</main>
